

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


code {
  font-family: 'Montserrat', sans-serif;
}

img{
  height: 140px;
  width: 280px;
}
.container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 min-height: 480px;
  min-height: 100vh;
  background: rgb(13, 94, 49);
  background: radial-gradient(circle, #1e4027 0%, #153219 65%); 
  padding: 20px;
}

.container h1 {
  font-size:2.6rem;
  margin-bottom:0.2rem;
  background-image: linear-gradient(170deg, rgb(236, 236, 236) 45%, rgb(156, 156, 156) 96%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 80px;

}

.container small{
margin: -20px auto 40px ;
  background-image: linear-gradient(170deg, rgb(236, 236, 236) 45%, rgb(156, 156, 156) 96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 500;

}

.container .labels {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-size: .8rem;
  padding:.3rem .3rem;
  background-image: linear-gradient(170deg, rgb(236, 236, 236) 45%, rgb(156, 156, 156) 96%);
  background: rgb(255, 255, 255);
  border-radius: 1.5rem;
  
}

.container button{
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  background-color: #0000008e;
}

.active-label {
  color: #ffffff;
  background: rgb(13, 94, 49);
  background: linear-gradient(170deg, #1e4027 0%, #153219 65%)

}

.timer-container {
  display: flex;
  flex:2;
  align-items: center;
  justify-content: center;
}

.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  border-radius: 7.5rem;
  color:#efefef;
  background: rgb(13, 94, 49);
  background: linear-gradient(70deg, #1e4027 0%, #153219 65%);
  font-size: 3.5rem;
  box-shadow: 1rem 1.5rem 2rem #00000099
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px
}

button {
  color:#efefef;
  font-size:0.8rem;
  padding: 0.5rem 1.2rem;
  border:none;
  border-radius:3rem;
  margin:0.2rem;;
  background:#8a92c5;
  min-width: 80px;
  cursor: pointer;
}

.button-wrapper{
  margin: 0px 30px 160px;
  padding: 8px;
  background-image: linear-gradient(170deg, #ececec 45%, #9c9c9c 96%);
  background: rgb(255, 255, 255);
  border-radius: 1.5rem;
}

.button-wrapper button{
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
   background-color: #0000008e;
  
  
  
}
.button-wrapper button.active {
  color: rgb(255, 255, 255);
  background: rgb(13, 94, 49);
  background: linear-gradient(70deg, #1e4027 0%, #153219 65%);
 
}
.form-container {
  text-align: center;
}
.input-wrapper {
  margin:40px;
  display: flex;

}
.input-wrapper input {
  height: 80px;
  width: 80px;
  font-family: 'Montserrat', sans-serif;
  background: rgb(255, 255, 255);
  background-image: linear-gradient(170deg, rgb(236, 236, 236) 45%, rgb(156, 156, 156) 96%);
font-weight: 500;
  color:#153219;
  border: none;
  border-radius: 50%;
  margin: 0px 16px;
  text-align: center;
  font-size:16pt;
}

.input-wrapper div{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
justify-items: center;

}

.input-wrapper p{
  background-image: linear-gradient(170deg, rgb(236, 236, 236) 45%, rgb(156, 156, 156) 96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}